<template name="adminUsers">
  <h1>Manage users</h1>

  <div>
    {{> EasySearch.Input index=usersIndex attributes=inputAttributes}}
  </div>

  <br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Real name</th>
        <th>Email address</th>
        <th>Registered</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#EasySearch.Each index=usersIndex}}
        <tr>
          <td class="text-left text-middle">{{username}}</td>
          <td>{{profile.name}}</td>
          <td>{{emails.[0].address}}</td>
          <td>{{formatDate createdAt}}</td>
          <td>
            {{#each roles}}
              <label class="label {{#if isAdmin ../_id}}label-danger{{else}}label-success{{/if}}">{{profile.name}}{{.}}</label>
            {{/each}}
          </td>
          <td>
            {{#unless isSiteAdmin _id}}
              {{#unless isCurrentUser}}
                {{#if isAdmin _id}}
                  <i class="fa fa-thumbs-o-down link" id="setAdmin" title="Demote user"></i>
                {{else}}
                  <i class="fa fa-thumbs-o-up link" id="setAdmin" title="Promote user"></i>
                {{/if}}
                <i class="fa fa-trash link" id="removeUser"></i>
              {{/unless}}
            {{/unless}}
          </td>
        </tr>
      {{/EasySearch.Each}}
    </tbody>
  </table>

  {{> confirmDelete}}
</template>
