<template name="adminEditUser">
  {{>breadcrumb}}

  {{#unless isSiteAdmin user._id}}
    {{#unless isCurrentUser user._id}}
      <h1>Edit {{user.username}}</h1>
      <form class="form-user-dashboard">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{user.username}}" class="form-control">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{user.profile.name}}" class="form-control">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="{{user.emails.[0].address}}" class="form-control">
        {{#unless isCurrentUser user._id}}
          {{#unless isSiteAdmin user._id}}
            <select class="form-control" name="role">
              {{#if isSiteAdmin currentUser._id}}
                <option selected="{{selected user.roles.[0] 'site-admin'}}" value="site-admin">Site admin</option>
              {{/if}}
              <option selected="{{selected user.roles.[0] 'admin'}}" value="admin">Admin</option>
              <option selected="{{selected user.roles.[0] 'user'}}" value="user">User</option>
            </select>
          {{/unless}}
        {{/unless}}
        <input type="submit" value="Save" class="btn btn-default">
      </form>
      <button id="cancel" class="btn btn-default">Cancel</button>
    {{/unless}}
  {{/unless}}
</template>
