<template name="adminUsers">
  <h1>Manage users</h1>

  <div>
    {{> EasySearch.Input index=usersIndex attributes=inputAttributes}}
  </div>

  <br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Real name</th>
        <th>Email address</th>
        <th>Registered</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#EasySearch.Each index=usersIndex}}
        <tr>
          <td class="text-left text-middle">{{username}}</td>
          <td>{{profile.name}}</td>
          <td>{{emails.[0].address}}</td>
          <td>{{formatDate createdAt}}</td>
          <td>
            {{#each roles}}
              <label class="label {{#if isAdmin ../_id}}label-danger{{else}}label-success{{/if}}" id="setAdmin">{{profile.name}}{{.}}</label>
            {{/each}}
          </td>
          <td>
            <i class="fa fa-trash" id="removeUser"></i>
          </td>
        </tr>
      {{/EasySearch.Each}}
    </tbody>
  </table>
</template>
